@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/winchester-2');


* {
    padding: 0;
    margin: 0;
}

body {
      font-family: "Playfair Display", serif;
      background-image: url("../img/bg.jpg");
      background-size: cover;
      color: #fff;
}

ul li{
    display: inline-block;
}

.nav {
    background-color: darkslategray;
    display: flex;
    height: 65px;
    width: 100%;
}

.nav-options {
    justify-content: right;
    display: flex;
    font-size: large;
}

ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    margin: 10px 10px;
}

.nav-options li a:hover {
    text-decoration: underline;
    color: rgb(0, 255, 255);
}

.logo {
    display: flex;
    width: 50px;
    margin-top: 4px;
    margin-left: 20px;
    margin-right: 60%;
}

.underline::after {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 0;
    height: 1px;
    width: 100%;
    color: beige;
}

.styled-tag-line {
    font-family: 'Winchester', sans-serif;
}